{% extends 'hr/dist/_Master.html' %}
{% block title_tab %}HR | Employee resignation{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Employee</h3>
                    <p class="text-subtitle text-muted">Resign employee</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'employee:employee_table' %}">Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Resign employee</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ employee.full_name }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                {% csrf_token %}
                                <div class="col">
                                    <label class="fw-bold text-dark" for="out_date">Leaving date</label>
                                    <input type="date" class="form-control" name="out_date" id="out_date" >
                                </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                            style="margin-bottom: 20px; margin-top: 20px;">
                            <a type="button" class="btn btn-secondary"
                                href="{% url 'employee:employee_table' %}">Close</a>
                            <button type="submit" class="btn btn-danger" name="btnResignEmployee"
                                value="Resign input">Resign</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}