{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hr/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'hr/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'hr/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'hr/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'hr/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'hr/images/favicon.svg' %}" type="image/x-icon">

    <style>
        #tb1 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border: 0px solid white;
        }

        #tr1 {
            border: 0px solid white;
            text-align: center;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <table id="tr1" class="table table-borderless">
            <tbody>
                <tr>
                    <td>
                        <div class="row justify-content-start">
                            <img class="rounded float-start" src="{% static 'hr/images/logo/logo_tedis.png' %}"
                                alt="Logo" srcset="" style="width: 150px; height: 75px">
                        </div>
                        <div class="row justify-content-start">
                            <p class="text-start"
                                style="font-size: 8pt; color: rgb(124, 124, 124); font-family: calibri;">
                                <i>PRIVATE &
                                    CONFIDENTIAL</i>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="row justify-content-start">
                            <p class="text-end fw-bold"
                                style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">
                                JOB OFFER LETTER
                            </p>
                        </div>
                        <div class="row justify-content-start">
                            <p class="text-end"
                                style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">Thư
                                Tuyển Dụng</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="text-end text-dark" style="font-size: 12pt; font-family: calibri">Long
            An, 31 July
            2019</p>
        <div class="text-start text-dark" style="font-size: 11.5pt; font-family: calibri">
            Kính gửi Anh/Chị <span style="color: red;">Lê Thị Thanh Tuyền</span> ,
        </div>
        <div class="text-start text-dark" style="font-size: 11.5pt; font-family: calibri">
            Dear Mr/Ms. <span style="color: red;">Le Thi Thanh Tuyen</span> ,
        </div>
        <br>
        <p class="text-start text-dark" style="font-size: 11.5pt; font-family: calibri">
            Chúng tôi hân hạnh thông báo với Anh/Chị về việc tuyển dụng vào vị trí <span style="color: red;">Nhân viên
                Nhân sự</span> của Văn Phòng Đại Diện TEDIS tại TP.HCM (được gọi tắt dưới đây là VPĐD) với các điều
            khoản và điều kiện dưới đây:
            <br>
            We are happy to announce that you have been selected to fill the position of <span style="color: red;">C&B
                Officer</span> at The Representative Office of TEDIS in Ho Chi Minh City (here in after referred to as
            “Rep Office”) on the following terms and conditions:
        </p>
        <p class="text-start text-dark" style="font-size: 11.5pt; font-family: calibri">
            <b>I.&emsp;Vị trí công việc:</b> Anh/ Chị sẽ đảm nhận vị trí công việc Nhân viên Chế độ chính sách. Tuy
            nhiên công
            việc có
            thể được thay đổi tùy theo yêu cầu tổ chức của VPĐD và phù hợp với công việc đã được thỏa thuận.
            <br>
            We are happy to announce that you have been selected to fill the position of <span style="color: red;">C&B
                Officer</span> at The Representative Office of TEDIS in Ho Chi Minh City (here in after referred to as
            “Rep Office”) on the following terms and conditions:
        </p>
    </div>

    <script src="{% static 'hr/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'hr/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'hr/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'hr/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'hr/js/main.js' %}"></script>
</body>

</html>