{% extends 'hr/dist/_Master.html' %}
{% block title_tab %}HR | Employee Information{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Children</h3>
                            <p class="text-subtitle text-muted">Add children</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add children</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ employee.full_name }}</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="employee_id" value="{{ employee.id }}" />
                                    <div class="form-group">
                                        <label for="basicInput">Children name</label>
                                        <input type="text" class="form-control" name="children" id="basicInput"
                                            placeholder="Full name">
                                    </div>
                                    <div class="form-group">
                                        <label for="basicInput">Date of birth</label>
                                        <input type="date" class="form-control" name="birthday_of_children" id="basicInput">
                                    </div>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 20px">
                                    <a type="button" class="btn btn-secondary" href="{% url 'employee:employee_table' %}">Close</a>
                                    <button type="submit" class="btn btn-primary" name="btn_addchildren" value="Children input">Add children</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Bumi</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a>Bumi</a></p>
                    </div>
                </div>
            </footer>
        </div>
        {% endblock %}
    