{% extends 'hr/dist/_Master.html' %}
{% block title_tab %}HR | Leave application approve{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div id="main">
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}
    {% endfor%}
    {% endif %}
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Leave Verification</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'employee:leave_verification' %}">Leave & Overtime</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Leave verification</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <table class="table" style="border: 0px solid white;">
                        <tr>
                            <td>
                                <img class="rounded float-start" src="https://iili.io/me7rqG.jpg" alt="Logo" srcset=""
                                    style="width: 150px; height: 65px">
                            </td>
                            <td class="row justify-content-end" style="text-align: right">
                                <p class="text-end"
                                    style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">
                                    <b class="text-dark">APPLICATION FOR LEAVE</b>
                                    <br>
                                    <span class="text-end"
                                        style="font-size: 18pt; color: rgb(0, 0, 0); font-family: tahoma;">ĐƠN XIN
                                        NGHỈ PHÉP</span>
                                </p>
                                <p class="text-end"
                                    style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;"></p>
                            </td>
                        </tr>
                    </table>
                    <form method="post">
                        {% csrf_token %}
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: calibri; margin-bottom: 0px;">
                            <b>EMPLOYEE INFORMATION /</b>
                            <i> Chi tiết nhân viên</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">
                        <table class="table text-dark" style="border: 0px solid white; padding: 0;">
                            <tr>
                                <td>
                                    <b>Employee Name</b>
                                    <br>
                                    <i>Họ tên nhân viên</i>
                                </td>
                                <td colspan="2">{{ leave_application.employee }}</td>
                                <td><b>Department</b>
                                    <br>
                                    <i>Bộ phận làm việc</i>
                                </td>
                                <td colspan="2">{{ leave_application.status.status }}</td>
                            </tr>
                            <tr>
                                <td><b>Emergency Contact</b>
                                    <br>
                                    <i>Số liên lạc khẩn</i>
                                </td>
                                <td>
                                    {{ leave_application.emergency_contact }}
                                </td>
                                <td><b>Contact Person</b>
                                    <br>
                                    <i>Người liên lạc</i>
                                </td>
                                <td>
                                    {{ leave_application.contact_person }}
                                </td>
                                <td><b>Relation</b>
                                    <br>
                                    <i>Quan hệ</i>
                                </td>
                                <td>{{ leave_application.relation }}</td>
                            </tr>
                        </table>
                        <br>
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: calibri; margin-bottom: 0px;">
                            <b>TYPE OF LEAVE REQUESTED /</b>
                            <i> Loại phép xin nghỉ</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">
                        <input type="hidden" name="employee_id" value="{{ employee.id }}" />
                        <div class="row text-dark">
                            <div class="col-3">
                            </div>
                            <div class="col-2">
                                <p class="text-center">
                                    <b>From</b>
                                    <br>
                                    <i>Từ</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="text-center">
                                    <b>To</b>
                                    <br>
                                    <i>Đến</i>
                                </p>
                            </div>
                            <div class="col-1">
                                <p class="text-center">
                                    <b>Days</b>
                                    <br>
                                    <i>Số ngày</i>
                                </p>
                            </div>
                            <div class="col-4">
                                <p class="text-center">
                                    <b>Remarks</b>
                                    <br>
                                    <i>Ghi chú</i>
                                </p>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Annual Leave</b>
                                    <br>
                                    <i>Phép hằng năm</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="annual_from" id="annual_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.annual_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="annual_to" id="annual_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.annual_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="annual_number_of_leave_days"
                                    id="annual_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.annual_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="annual_remark"
                                    id="annual_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.annual_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Non-paid Leave</b>
                                    <br>
                                    <i>Nghỉ không lương</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="non_paid_from" id="non_paid_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.non_paid_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="non_paid_to" id="non_paid_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.non_paid_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="non_paid_number_of_leave_days"
                                    id="non_paid_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.non_paid_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="non_paid_remark"
                                    id="non_paid_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.non_paid_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Wedding Leave</b>
                                    <br>
                                    <i>Lễ cưới</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="wedding_from" id="wedding_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.wedding_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="wedding_to" id="wedding_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.wedding_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="wedding_number_of_leave_days"
                                    id="wedding_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.wedding_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="wedding_remark"
                                    id="wedding_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.wedding_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Bereavement Leave</b>
                                    <br>
                                    <i>Nghỉ đám tang</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="bereavement_from" id="bereavement_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.bereavement_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="bereavement_to" id="bereavement_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.bereavement_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="bereavement_number_of_leave_days"
                                    id="bereavement_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.bereavement_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="bereavement_remark"
                                    id="bereavement_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.bereavement_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Maternity Leave / Obstetric Consult</b>
                                    <br>
                                    <i>Nghỉ thai sản / Nghỉ khám thai</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="maternity_obstetric_from"
                                    id="maternity_obstetric_from" placeholder="hh:mm DD/MM/YYYY"
                                    value="{{ leave_application.maternity_obstetric_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="maternity_obstetric_to"
                                    id="maternity_obstetric_to" placeholder="hh:mm DD/MM/YYYY"
                                    value="{{ leave_application.maternity_obstetric_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="maternity_obstetric_number_of_leave_days"
                                    id="maternity_obstetric_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.maternity_obstetric_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="maternity_obstetric_remark"
                                    id="maternity_obstetric_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.maternity_obstetric_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Sick Leave</b>
                                    <br>
                                    <i>Nghỉ ốm</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="sick_from" id="sick_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.sick_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="sick_to" id="sick_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.sick_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="sick_number_of_leave_days"
                                    id="sick_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.sick_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="sick_remark"
                                    id="sick_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.sick_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Off in-lieu</b>
                                    <br>
                                    <i>Nghỉ bù</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="offinlieu_from" id="offinlieu_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.offinlieu_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="offinlieu_to" id="offinlieu_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.offinlieu_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="offinlieu_number_of_leave_days"
                                    id="offinlieu_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.offinlieu_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="offinlieu_remark"
                                    id="offinlieu_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.offinlieu_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Other</b>
                                    <br>
                                    <i>Khác</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="other_from" id="other_from"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.other_from }}">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="other_to" id="other_to"
                                    placeholder="hh:mm DD/MM/YYYY" value="{{ leave_application.other_to }}">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                <input type="text" class="form-control" name="other_number_of_leave_days"
                                    id="other_number_of_leave_days" placeholder="No or No.No"
                                    value="{{ leave_application.other_number_of_leave_days }}">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" name="other_remark"
                                    id="other_remark" placeholder="dd/mm/yyyy dd/mm/yyyy (Using space between dates)"
                                    value="{{ leave_application.other_remark }}">
                            </div>
                        </div>
                        <div class="row text-dark" style="border-top: 1px solid black;">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Total number of days /</b>
                                    <i>Tổng số ngày</i>
                                </p>
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-3">
                            </div>
                            <div class="col-1" style="padding: 0;">
                                {{ leave_application.total_days }}
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                        <br>
                        <div class="row text-dark" style="border: 1px solid rgb(255, 108, 108);">
                            <p class="text-start" style="color: rgb(255, 108, 108);">
                                <b style="font-size: larger;"><u>Ghi chú !</u></b>
                                <br>
                                <i>
                                    <b>- Nghỉ 1 ngày:</b> nghỉ cả ngày 01/01/2023 => from <u>01/01/2023</u> to <u>01/01/2023</u>
                                </i>
                                <br>
                                <i>
                                    <b>- Nghỉ 1/2 ngày:</b> nghỉ nửa ngày 01/01/2023 => from <u>01/01/2023</u> to <u>01/01/2023</u> ; Remarks: <u>01/01/2023</u>
                                </i>
                                <br>
                                <i><b>- Nghỉ nhiều ngày:</b>
                                    <br>
                                    Nghỉ từ ngày 01/01/2023 đến ngày hết ngày 03/01/2023 => from <u>01/01/2023</u> to <u>03/01/2023</u>
                                    <br>
                                    Nghỉ từ ngày 01/01/2023 đến ngày 03/01/2023, trong đó nghỉ nửa ngày 01/01/2023 và 02/01/2023 => from <u>01/01/2023</u> to <u>03/01/2023</u> ; Remarks: <u>01/01/2023 02/01/2023</u>
                                </i>
                            </p>
                        </div>
                        <br>
                        <br>
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: calibri; margin-bottom: 0px;">
                            <b>TEMPORARY REPLACEMENT /</b>
                            <i> Người thay thế tạm thời</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">

                        <div class="row">
                            <div class="col">
                                {{ leave_application.temporary_replacement }}
                            </div>
                        </div>
                        <br><br><br><br>
                        <table class="table text-dark" style="border: 0px solid white; padding: 0;">
                            <tr>
                                <td>
                                    <b>Employee</b>
                                    <br>
                                    <i>Nhân viên</i>
                                </td>
                                <td>{{ leave_application.employee }}</td>
                                <td><b>Approved by</b>
                                    <br>
                                    <i>Xét duyệt bởi</i>
                                </td>
                                <td>{{ leave_application.approved_by }}</td>
                            </tr>
                            <tr>
                                <td><b>Date</b>
                                    <br>
                                    <i>Ngày</i>
                                </td>
                                <td>
                                    {{leave_application.application_date}}
                                </td>
                                <td><b>Date</b>
                                    <br>
                                    <i>Ngày</i>
                                </td>
                                <td>
                                    {{approved_date}}
                                </td>
                            </tr>
                        </table>

                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 20px">
                    <button type="submit" class="btn btn-outline-success" name="btn_approve" value="Period input"
                        style="margin: 10px;">Approve</button>
                    <button type="submit" class="btn btn-outline-danger" name="btn_reject" value="Period input"
                        style="margin: 10px;">Reject</button>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}