{% extends 'hr/dist/_Master.html' %}
{% block title_tab %}HR | Probationary period{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div id="main">
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}
    {% endfor%}
    {% endif %}
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Probationary period</h3>
                    <p class="text-subtitle text-muted">Add period</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'hr:index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Probationary period</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ employee.full_name }}</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="employee_id" value="{{ employee.id }}" />
                                <div class="row align-items-start" style="margin-top: 10px;">
                                    <div class="col">
                                        <label class="fw-bold text-dark" for="letter_date">Letter
                                            date</label>
                                        <input type="date" class="form-control" name="letter_date"
                                            id="letter_date" placeholder="Input date">
                                    </div>
                                    <div class="col">
                                        <label class="fw-bold text-dark" for="letter_returning_date">Letter
                                           returning date</label>
                                        <input type="date" class="form-control" name="letter_returning_date"
                                            id="letter_returning_date" placeholder="Input date">
                                    </div>
                                </div>
                                <div class="row align-items-start" style="margin-top: 10px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold text-dark" for="from_date">From
                                                date</label>
                                            <input type="date" class="form-control" name="from_date"
                                                id="from_date" placeholder="Input date">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold text-dark" for="to_date">To
                                                date</label>
                                            <input type="date" class="form-control" name="to_date"
                                                id="to_date" placeholder="Input date">
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-start" style="margin-top: 10px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold text-dark" for="monthly_gross_salary">Monthly gross salary</label>
                                            <input type="number" class="form-control" name="monthly_gross_salary"
                                                id="monthly_gross_salary" placeholder="Input salary">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="fw-bold text-dark" for="monthly_allowance">Monthly allowance</label>
                                            <input type="number" class="form-control" name="monthly_allowance"
                                                id="monthly_allowance" placeholder="Input salary">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 20px">
                            <a type="button" class="btn btn-secondary"
                                href="{% url 'employee:view_document' employee.id%}">Close</a>
                            <button type="submit" class="btn btn-primary" name="btn_addperiod"
                                value="Period input">Create
                                job offer</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}