{% extends 'hr/dist/_Master.html' %}
{% block title_tab %}HR | Leave application{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<div id="main">
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}
    {% endfor%}
    {% endif %}
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Leave Application</h3>
                    <br>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'hr:index' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Leave application</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid">
                    <table class="table" style="border: 0px solid white;">
                        <tr>
                            <td>
                                <img class="rounded float-start" src="https://iili.io/me7rqG.jpg" alt="Logo" srcset=""
                                    style="width: 150px; height: 65px">
                            </td>
                            <td class="row justify-content-end" style="text-align: right">
                                <p class="text-end"
                                    style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">
                                    <b class="text-dark">APPLICATION FOR LEAVE</b>
                                    <br>
                                    <span class="text-end"
                                        style="font-size: 18pt; color: rgb(0, 0, 0); font-family: tahoma;">ĐƠN XIN
                                        NGHỈ PHÉP</span>
                                </p>
                                <p class="text-end"
                                    style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;"></p>
                            </td>
                        </tr>
                    </table>
                    <form method="post">
                        {% csrf_token %}
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: tahoma; margin-bottom: 0px;">
                            <b>EMPLOYEE INFORMATION /</b>
                            <i> Chi tiết nhân viên</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">
                        <table class="table text-dark" style="border: 0px solid white; padding: 0;">
                            <tr>
                                <td>
                                    <b>Employee Name</b>
                                    <br>
                                    <i>Họ tên nhân viên</i>
                                </td>
                                <td colspan="2">{{ employee.full_name }}</td>
                                <td><b>Department</b>
                                    <br>
                                    <i>Bộ phận làm việc</i>
                                </td>
                                <td colspan="2">{{ employee.department }}</td>
                            </tr>
                            <tr>
                                <td><b>Emergency Contact</b>
                                    <br>
                                    <i>Số liên lạc khẩn</i>
                                </td>
                                <td><input type="text" class="form-control" name="emergency_contact"
                                        id="emergency_contact" placeholder="Phone number">
                                </td>
                                <td><b>Contact Person</b>
                                    <br>
                                    <i>Người liên lạc</i>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="contact_person" id="contact_person"
                                        placeholder="Name">
                                </td>
                                <td><b>Relation</b>
                                    <br>
                                    <i>Quan hệ</i>
                                </td>
                                <td><input type="text" class="form-control" name="relation" id="relation"
                                        placeholder="Relation"></td>
                            </tr>
                        </table>
                        <br>
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: tahoma; margin-bottom: 0px;">
                            <b>TYPE OF LEAVE REQUESTED /</b>
                            <i> Loại phép xin nghỉ</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">
                        <input type="hidden" name="employee_id" value="{{ employee.id }}" />
                        <div class="row text-dark">
                            <div class="col-3">
                            </div>
                            <div class="col-2">
                                <p class="text-center">
                                    <b>From</b>
                                    <br>
                                    <i>Từ</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="text-center">
                                    <b>To</b>
                                    <br>
                                    <i>Đến hết</i>
                                </p>
                            </div>
                            <div class="col-3">
                                <p class="text-center">
                                    <b>Days</b>
                                    <br>
                                    <i>Số ngày</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="text-center">
                                    <b>Note</b>
                                    <br>
                                    <i>Nghỉ buổi sáng/buổi chiều</i>
                                </p>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Annual Leave</b>
                                    <br>
                                    <i>Phép hằng năm</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="annual_from" id="annual_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="annual_to" id="annual_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="annual_number_of_leave_days"
                                    id="annual_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="annual_note" id="annual_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Non-paid Leave</b>
                                    <br>
                                    <i>Nghỉ không lương</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="non_paid_from" id="non_paid_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="non_paid_to" id="non_paid_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="non_paid_number_of_leave_days"
                                    id="non_paid_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="non_paid_note" id="non_paid_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Wedding Leave</b>
                                    <br>
                                    <i>Lễ cưới</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="wedding_from" id="wedding_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="wedding_to" id="wedding_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="wedding_number_of_leave_days"
                                    id="wedding_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="wedding_note" id="wedding_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Bereavment Leave</b>
                                    <br>
                                    <i>Nghỉ đám tang</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="bereavement_from" id="bereavement_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="bereavement_to" id="bereavement_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="bereavement_number_of_leave_days"
                                    id="bereavement_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="bereavement_note" id="bereavement_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Maternity Leave / Obstetric Consult</b>
                                    <br>
                                    <i>Nghỉ thai sản / Nghỉ khám thai</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="maternity_obstetric_from"
                                    id="maternity_obstetric_from" placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="maternity_obstetric_to"
                                    id="maternity_obstetric_to" placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="maternity_obstetric_number_of_leave_days"
                                    id="maternity_obstetric_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="maternity_obstetric_note" id="maternity_obstetric_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Sick Leave</b>
                                    <br>
                                    <i>Nghỉ ốm</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="sick_from" id="sick_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="sick_to" id="sick_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="sick_number_of_leave_days"
                                    id="sick_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="sick_note" id="sick_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Off in-lieu</b>
                                    <br>
                                    <i>Nghỉ bù</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="offinlieu_from" id="offinlieu_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="offinlieu_to" id="offinlieu_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="offinlieu_number_of_leave_days"
                                    id="offinlieu_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="offinlieu_note" id="offinlieu_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-dark">
                            <div class="col-3">
                                <p class="text-start">
                                    <b>Other</b>
                                    <br>
                                    <i>Khác</i>
                                </p>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="other_from" id="other_from"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="other_to" id="other_to"
                                    placeholder="hh:mm DD/MM/YYYY">
                            </div>
                            <div class="col-3" style="padding: 0;">
                                <input type="text" class="form-control" name="other_number_of_leave_days"
                                    id="other_number_of_leave_days" placeholder="No or No.No">
                            </div>
                            <div class="col-2 text-center">
                                <select name="other_note" id="other_note">
                                    <option value="--">--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row text-dark" style="border: 1px solid rgb(255, 108, 108);">
                            <p class="text-start" style="color: rgb(255, 108, 108);">
                                <b style="font-size: larger;"><u>Ghi chú !</u></b>
                                <br>
                                <i>
                                    <b>- From:</b> Ghi ngày bắt đầu nghỉ
                                </i>
                                <br>
                                <i>
                                    <b>- To:</b> Ghi ngày nghỉ kết thúc
                                </i>
                                <br>
                                <i>
                                    <b>- Days:</b> Ghi tổng số ngày nghỉ, đã loại bỏ ngày cuối tuần, ngày lễ tết
                                    (Nếu không trọn 1 ngày, dùng dấu chấm để chỉ số thập phân)
                                </i>
                                <br>
                                <i>
                                    <b>- Note:</b> Chọn AM hay PM nếu nghỉ nửa buổi
                                </i>
                                <br>
                                <i>
                                    <b><u>Trường hợp nghỉ nhiều ngày khác khung thời gian nghỉ, cần phải làm nhiều đơn nghỉ.</u></b>
                                </i>
                            </p>
                        </div>
                        <br>
                        <br>
                        <p class="text-start text-dark"
                            style="font-size: 16pt; font-family: tahoma; margin-bottom: 0px;">
                            <b>TEMPORARY REPLACEMENT /</b>
                            <i> Người thay thế tạm thời</i>
                        </p>
                        <hr style="color: black;margin-top: 0px; height: 2px; background-color: black;">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="temporary_replacement"
                                    id="temporary_replacement" placeholder="Input temporary replacement">
                            </div>
                        </div>
                        <br><br><br><br>
                        <table class="table text-dark" style="border: 0px solid white; padding: 0;">
                            <tr>
                                <td>
                                    <b>Employee</b>
                                    <br>
                                    <i>Nhân viên</i>
                                </td>
                                <td>{{ employee.full_name }}</td>
                                <td><b>Approved by</b>
                                    <br>
                                    <i>Xét duyệt bởi</i>
                                </td>
                                <td>{{ manager }}</td>
                            </tr>
                            <tr>
                                <td><b>Date</b>
                                    <br>
                                    <i>Ngày</i>
                                </td>
                                <td>
                                    {{application_date}}
                                </td>
                            </tr>
                        </table>

                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 20px">
                    <a type="button" class="btn btn-danger" href="{% url 'hr:index' %}">Delete</a>
                    <button type="submit" class="btn btn-primary" name="btn_addleave"
                        value="Period input">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}