{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hr/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'hr/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'hr/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'hr/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'hr/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'hr/images/favicon.svg' %}" type="image/x-icon">

    <style type="text/css">
        #tb1 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border: 0px solid white;
        }

        #tr1 {
            border: 0px solid white;
            text-align: center;
        }

        #pdf-body {
            font-family: "Times New Roman", serif;
            font-size: x-small;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <table id="pdf-body" cellspacing="0" border="0">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr>
                <td class="row justify-content-start">
                    <img class="rounded float-start" src="https://i.ibb.co/BBbNXyz/tedis-3.jpg" alt="Logo" srcset=""
                        style="width: 150px; height: 65px">
                    <p class="text-start" style="font-size: 8pt; color: rgb(124, 124, 124); font-family: calibri;">
                        <i>PRIVATE &
                            CONFIDENTIAL</i>
                    </p>
                </td>
                <td class="row justify-content-start" style="text-align: right">
                    <p class="text-end fw-bold"
                        style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">
                        JOB OFFER LETTER
                    </p>
                    <p class="text-end" style="font-size: 18pt; color: rgb(124, 124, 124); font-family: tahoma;">Thư
                        Tuyển Dụng</p>
                </td>
            </tr>
        </table>
        <p class="text-end text-dark" style="font-size: 12pt; font-family: calibri">Thành phố Hồ Chí Minh, 31 July
            2019</p>
        <div class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Kính gửi Anh/Chị <span class="fw-bold" style="color: red;">Lê Thị Thanh Tuyền</span> ,
        </div>
        <div class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            <i>Dear Mr/Ms</i> <span class="fw-bold" style="color: red;"></span>
        </div>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Chúng tôi hân hạnh thông báo với Anh/Chị về việc tuyển dụng vào vị trí <span class="fw-bold"
                style="color: red;">Nhân viên
                Nhân sự</span> của Văn Phòng Đại Diện TEDIS tại TP.HCM (được gọi tắt dưới đây là VPĐD) với các điều
            khoản và điều kiện dưới đây:
            <br>
            We are happy to announce that you have been selected to fill the position of <span class="fw-bold"
                style="color: red;">C&B
                Officer</span> at The Representative Office of TEDIS in Ho Chi Minh City (here in after referred to as
            “Rep Office”) on the following terms and conditions:
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            <b>I.&emsp;Vị trí công việc:</b> Anh/ Chị sẽ đảm nhận vị trí công việc Nhân viên Chế độ chính sách. Tuy
            nhiên công
            việc có
            thể được thay đổi tùy theo yêu cầu tổ chức của VPĐD và phù hợp với công việc đã được thỏa thuận.
            <br>
            <i><b>Position:</b> You shall be appointed as <span class="fw-bold" style="color: red;">C&B Officer</span>.
                The Rep Office
                reserves the right to after your
                designation
                in the event of any re - organization or at any time that the Rep Office deems fit, provided that such
                alternation is suitable with the agreed work.</i>
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            <b>II.&emsp;Thời gian thử việc:</b> Thời gian bắt đầu là ngày <span style="color: red;">01</span> tháng
            <span style="color: red;">08</span> năm <span style="color: red;">2019</span> đến <span
                style="color: red;">30</span> tháng <span style="color: red;">09</span> năm <span
                style="color: red;">2019</span>.
            <br>
            <i><b>Probation period:</b> Your starting date will be started from <span style="color: red;">1 August
                    2019</span> to <span style="color: red;">30 September 2019</span>.</i>
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            <b>III.&emsp;Quyền lợi & điều kiện làm việc:</b> Theo chính sách của VPĐD, chúng tôi đề nghị về
            quyền lợi và điều kiện làm việc của Anh/ Chị như sau:
            <br>
            <i><b>Benefits & working conditions:</b> Following Rep Office’s Compensation and Benefits Policy, we are
                glad
                to offer to you as follows:</i>
            <br>
            &emsp;&emsp;1.&emsp;<span class="fw-bold">Địa điểm làm việc:</span> Tòa nhà Broadway C, Lầu 4, 150
            Nguyễn Lương Bằng,
            Q.7,
            TP.HCM
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Working location:</span> 4th floor, Broadway C
                Building,
                150 Nguyen Luong Bang, Dist 7, HCMC</i>
            <br>
            &emsp;&emsp;2.&emsp;<span class="fw-bold">Thời gian làm việc</span> 5 ngày/ tuần, 8 tiếng một ngày
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Working time:</span> five days per week, 8 hours per
                day</i>
            <br>
            &emsp;&emsp;3.&emsp;<span class="fw-bold">Ngày nghỉ hàng tuần và nghỉ lễ:</span> Theo quy định của VPĐD và
            quy định nhà nước
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Weekly official off-day and holiday:</span> According
                to Rep Office’s regulation and government regulation</i>
            <br>
            &emsp;&emsp;4.&emsp;<span class="fw-bold">Lương Cơ Bản và Trợ Cấp</span>
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Thời gian thử việc</span></i>
        </p>


        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Lương cơ bản hàng tháng&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <span
                style="color: red;">VNĐ</span> 11,000,000/-
            <br>
            <i>Monthly Gross Salary</i>
        </p>


        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Sau thời gian thử việc, nếu Anh/ Chị có thể hoàn thành tốt nhiệm vụ được giao,
            Anh/ Chị sẽ ký kết hợp đồng lao động với VPĐD, và kể từ ngày ký kết sẽ được hưởng mức thu nhập tháng như
            sau:
            <br>
            <i>After this period, if you can fulfill your delivered tasks, you will be
                eligible for signing the Labour Contract and from this date on, your monthly income will be:</i>
            <br>
            <br>
            <i><b>Basic salary & Allowance</b></i>
            <br>
            Lương cơ bản hàng tháng&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <span
                style="color: red;">VNĐ</span>
            11,000,000/-
            <br>
            <i>Monthly Gross Salary</i>
            <br>
            Trợ cấp (điện thoại,ăn trưa, di chuyển)&emsp;&emsp;&emsp;&ensp;: <span style="color: red;">VNĐ</span>
            11,000,000/-
            <br>
            <i>Monthly Allowance(phone, lunch, transportation)</i>
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Các khoản thu nhập trên sẽ được trích nộp Thuế thu nhập cá nhân và Bảo hiểm
            theo quy định nhà nước
            <br>
            <i>Personal Income Tax and compulsory insurance will be withheld by the Rep
                Office and paid to the government as per Vietnam Labor Law.</i>
            <br>
            &emsp;&emsp;5.&emsp;<span class="fw-bold">Thưởng lương tháng 13:</span> Anh/ Chị sẽ được xét thưởng lương
            tháng 13 theo quy định VPĐD.
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">13th Month Salary:</span> You will be entitled to a
                prorated 13th month salary as per Rep Office’s policy.</i>
            <br>
            &emsp;&emsp;6.&emsp;<span class="fw-bold">Ngày nghỉ phép năm:</span> Anh/ Chị được quyền nghỉ 12 ngày phép
            năm cho một năm làm việc đầy đủ.
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Annual Leaves:</span> You are entitled to 12 days
                paid annual leave for each completed calendar year of service.</i>
            <br>
            &emsp;&emsp;7.&emsp;<span class="fw-bold">Bảo hiểm Chăm Sóc Sức Khỏe:</span> Rep Office mua bảo hiểm cho
            Anh/ Chị theo các điều kiện quy định của VPĐD.
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Medical Attention:</span> You will be eligible to Rep
                Office’s Heath care insurance according to Rep Office’s regulation.</i>
            <br>
            &emsp;&emsp;8.&emsp;<span class="fw-bold">Kiểm tra sức khỏe:</span> Khi gia nhập VPĐD, Anh/Chị kiểm tra sức
            khỏe & đủ điều kiện sức khỏe để bắt đầu công việc tại VPĐD.
            <br>
            <i>&emsp;&emsp;&ensp;&nbsp;&emsp;<span class="fw-bold">Medical Examination:</span> Before joining, you are
                subjected to a successful completed medical examination by a certified
                doctor.</i>
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Với vị trí Nhân viên <span style="color: red;">Chế độ chính sách</span>, chúng tôi hy vọng
            Anh/Chị sẽ hoàn
            thành nhiệm vụ
            một cách chu đáo, liêm khiết và chuyên nghiệp, bảo đảm công việc đúng thời hạn theo kế hoạch.
            <br>
            <i>Being the position <span style="color: red;">C&B Officer</span> offered to you, we expect you will carry
                out your duties carefully, with probity and professionalism, guaranteeing also that jobs are
                accomplished on time regardless the working hour schedule.</i>
            <br>
            <br>
            <br>
            Để xác nhận sự đồng ý, Anh/ Chị vui lòng ký vào bản thỏa thuận và gởi về cho Phòng Nhân Sự.
            <br>
            <i>Please sign and return a copy of this letter to the Human Resources Department indicating
                your acceptance of this offer of employment.</i>
        </p>
        <p class="text-start text-dark" style="font-size: 12pt; font-family: calibri">
            Chúng tôi mong đợi gặp Anh/ Chị vào lúc 8:30 sáng vào ngày bắt đầu làm việc tại địa điểm làm việc như thỏa
            thuận.
            <br>
            <i>We look forward to seeing you at 8:30 a.m on the start date afore mentioned at the agreed workplace.</i>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr>
                <td>
                    Chào thân ái,
                    <br>
                    <i>Yours sincerely,</i>
                </td>
                <td>
                    Xác nhận
                    <br>
                    <b>Confirmation</b>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    Tôi xác nhận đã đọc kỹ và hoàn toàn đồng ý với nội dung thư tuyển dụng này.
                    <br>
                    <i>I confirm that I have read carefully this Job Offer Letter & totally agree with all the
                        content.</i>
                </td>
            </tr>
        </table>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr>
                <td rowspan="1" colspan="2" size="1" height="65">

                </td>
            </tr>
            <tr>
                <td>
                    Phó Trưởng Đại Diện
                    <br>
                    <b><i>Deputy of Chief Rep</i></b>
                </td>
                <td>
                    Ứng viên trúng tuyển
                    <br>
                    <b><i>Offered Applicant</i></b>
                </td>
            </tr>
        </table>
        <br>
    </div>

    <script src="{% static 'hr/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'hr/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'hr/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'hr/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'hr/js/main.js' %}"></script>
</body>

</html>