{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HR - VH HDLD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        #tb1 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border: 0px solid white;
        }

        #tr1 {
            border: 0px solid white;
            text-align: center;
        }

        #pdf-body {
            font-family: "Times New Roman", serif;
            font-size: x-small;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <table id="pdf-body" cellspacing="0" border="0">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr>
                <td class="row justify-content-start">
                    <img class="rounded float-start" src="https://iili.io/HOAXPsf.png" alt="Logo" srcset=""
                        style="width: 150px; height: 65px" />
                </td>
                <td class="row justify-content-start" style="text-align: center; align-self: right;">
                    <p class="fw-bold" style="
                font-size: 12pt;
                color: rgb(124, 124, 124);
                font-family: tahoma;
              ">
                        <b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                            <br />
                            Độc Lập - Tự Do - Hạnh Phúc
                            <br />
                        </b>
                        <span style="font-size: 11pt; color: rgb(0, 0, 0)"><i>SOCIALIST REPUBLIC OF VIETNAM</i></span>
                        <br />
                        <span style="font-size: 11pt; color: rgb(0, 0, 0)"><i>Independence – Freedom –
                                Happiness</i></span>
                    </p>
                </td>
            </tr>
        </table>
        <table id="pdf-body" cellspacing="0" border="0">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr>
                <td class="row justify-content-start" style="text-align: left">
                    <p class="text-end text-dark" style="font-size: 12pt; font-family: calibri; text-align: left">
                        <i>Số: {{latest_contract.contract_no}}</i>
                        <br />
                        <i>No</i>
                    </p>
                </td>
                <td class="row justify-content-end" style="text-align: right">
                    <p class="text-end text-dark" style="font-size: 12pt; font-family: calibri; text-align: right">
                        TP. Hồ Chí Minh, ngày {{signed_contract_date_day}} tháng {{signed_contract_date_month}} năm
                        {{signed_contract_date_year}}
                        <br />
                        <i>TP. Hồ Chí Minh, {{signed_contract_date_day}} {{signed_contract_date_month_name}}
                            {{signed_contract_date_year}}</i>
                    </p>
                </td>
            </tr>
        </table>
        <p style="font-size: 22pt; font-family: calibri; text-align: center">
            <b>
                HỢP ĐỒNG LAO ĐỘNG
                <br />
                <span style="font-size: 14pt; font-family: calibri; text-align: center">LABOR CONTRACT</span>
            </b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="
          font-size: 12pt;
          font-family: calibri;
          text-align: left;
          margin-top: 0;
        ">
            <colgroup width="25%"></colgroup>
            <colgroup width="5%"></colgroup>
            <colgroup width="38%"></colgroup>
            <colgroup width="15%"></colgroup>
            <colgroup width="17%"></colgroup>
            <tr>
                <td><b>Chúng tôi,</b></td>
            </tr>
            <tr>
                <td>
                    Một bên là Ông
                    <br />
                    <i style="font-size: 10pt">We are, from one side, Mr</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td>
                    <b>NGUYỄN MINH SƠN</b>
                    <br />
                    <i style="font-size: 10pt">NGUYỄN MINH SƠN</i>
                </td>
                <td></td>
                <td>
                    Quốc tịch:&emsp;Việt Nam
                    <br />
                    <i style="font-size: 10pt">Nationality:&emsp;Vietnamese</i>
                </td>
            </tr>
            <tr>
                <td>
                    Chức vụ
                    <br />
                    <i style="font-size: 10pt">Position</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td>
                    Tổng Giám Đốc
                    <br />
                    <i style="font-size: 10pt">General Director</i>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Đại diện cho
                    <br />
                    <i style="font-size: 10pt">On behalf of</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td>
                    <b>CÔNG TY CỔ PHẦN DƯỢC PHẨM VIỆT HÀ</b>
                    <br />
                    <i style="font-size: 10pt">VIETHA PHARMA CORPORATION</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">
                    Địa chỉ
                    <br />
                    <i style="font-size: 10pt">Address</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td colspan="3" style="vertical-align: top">
                    Số 4 Lô A Trường Sơn, Phường 15, Quận 10, TP.HCM
                    <br />
                    <i style="font-size: 10pt">No. 4 Block A, Truong Son Street, Ward 15, District 10, Ho Chi Minh
                        city</i>
                </td>
            </tr>
            <tr>
                <td>
                    Điện thoại
                    <br />
                    <i style="font-size: 10pt">Telephone</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">(28) 3 9703695</td>
                <td></td>
                <td style="vertical-align: top">Fax: (28) 3 9702084</td>
            </tr>
            <tr>
                <td>
                    Và một bên là Ông/Bà
                    <br />
                    <i style="font-size: 10pt">And from other side, Mr/Mrs</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top"><b>{{latest_contract.employee.full_name}}</b></td>
                <td></td>
                <td>
                    Mã NV: <b>{{latest_contract.employee.employee_code}}</b>
                    <br />
                    <i style="font-size: 10pt">Employee code</i>
                </td>
            </tr>
            <tr>
                <td>
                    Giới tính
                    <br />
                    <i style="font-size: 10pt">Gender</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">{{latest_contract.employee.sexual}}</td>
                <td></td>
                <td>
                    Ngày sinh: {{latest_contract.employee.date_of_birth}}
                    <br />
                    <i style="font-size: 10pt">Date of birth</i>
                </td>
            </tr>
            <tr>
                <td>
                    Nơi sinh
                    <br />
                    <i style="font-size: 10pt">Place of birth</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">{{latest_contract.employee.place_of_birth}}</td>
                <td></td>
                <td>
                    Quốc Tịch: Việt Nam
                    <br />
                    <i style="font-size: 10pt">Nationality</i>
                </td>
            </tr>
            <tr>
                <td>
                    Địa chỉ
                    <br />
                    <i style="font-size: 10pt">Permanent address</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">{{latest_contract.employee.permanent_address}}</td>
            </tr>
            <tr>
                <td>
                    Nghề nghiệp
                    <br />
                    <i style="font-size: 10pt">Occupation</i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">{{latest_contract.employee.position_v}}</td>
            </tr>
            <tr>
                <td>
                    Số CMND
                    <br />
                    <i style="font-size: 10pt">ID Card N<sup>o</sup></i>
                </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top">{{latest_contract.employee.id_card_no}}</td>
                <td>
                    Cấp ngày: {{latest_contract.employee.issued_date_of_id_card}}
                    <br />
                    <i style="font-size: 10pt">Issued on</i>
                </td>
                <td>
                    Tại: {{latest_contract.employee.issued_place_of_id_card}}
                    <br />
                    <i style="font-size: 10pt">At:</i>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    Thỏa thuận ký kết Hợp Đồng Lao Động và cam kết làm đúng theo những
                    điều khoản sau đây:
                    <br />
                    <i style="font-size: 10pt">Agree to sign this labor contract and engage to satisfy the
                        following provisions.</i>
                </td>
            </tr>
        </table>
        <p style="font-size: 12pt; font-family: calibri; margin-bottom: 3px; margin-top: 10px;">
            <b>ĐIỀU 01: ĐIỀU KHOẢN VÀ LOẠI HỢP ĐỒNG /
                <i>Article 1: Term and work contract</i></b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri; text-align: left">
            <colgroup width="3%"></colgroup>
            <colgroup width="25%"></colgroup>
            <colgroup width="30%"></colgroup>
            <colgroup width="35%"></colgroup>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td colspan="3">
                    Loại Hợp Đồng Lao Động: Xác định thời hạn có thời hạn 14 tháng
                    <br />
                    <i style="font-size: 10pt">Type of labor contract: Definite term with 14 months</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Từ
                    ngày:
                    <br />
                    <i style="font-size: 10pt">From</i>
                </td>
                <td style="vertical-align: top">
                    {{from_date_day}}/{{from_date_month}}/{{from_date_year}}
                </td>
                <td>
                    Đến: {{to_date_day}}/{{to_date_month}}/{{to_date_year}}
                    <br />
                    <i style="font-size: 10pt">To</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Thử việc từ
                    ngày:
                    <br />
                    <i style="font-size: 10pt">Probation from</i>
                </td>
                <td style="vertical-align: top">
                    {{probation_from_date_day}}/{{probation_from_date_month}}/{{probation_from_date_year}}
                </td>
                <td>
                    Đến: {{probation_to_date_day}}/{{probation_to_date_month}}/{{probation_to_date_year}}
                    <br />
                    <i style="font-size: 10pt">To</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td colspan="3">
                    Địa điểm làm việc: Khu vực Tỉnh Bà Rịa Vũng Tàu
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"></td>
                <td colspan="3" style="vertical-align: top">
                    <i style="font-size: 10pt">Place of work:</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td colspan="3">
                    Chức danh chuyên môn: {{latest_contract.employee.position_v}}
                    <br />
                    <i style="font-size: 10pt">Qualification: {{latest_contract.employee.position_e}}</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td colspan="3">
                    Chức vụ (nếu có):
                    <!-- chức vụ và chức danh khác nhau vậy thì lấy chức danh và chức vụ từ đâu vì chỉ có 1 field là position, kh có field qualification -->
                    <br />
                    <i style="font-size: 10pt">Position (if any): </i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td colspan="3">
                    Công việc phải làm: Bản mô tả công việc
                    <br />
                    <i style="font-size: 10pt">Tasks: As per Job Description</i>
                </td>
            </tr>
        </table>
        <p style="font-size: 12pt; font-family: calibri; margin-bottom: 3px; margin-top: 10px;">
            <b>ĐIỀU 02: CHẾ ĐỘ LÀM VIỆC /
                <i>Article 1: Article 2: Work regime</i></b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri; text-align: left">
            <colgroup width="3%"></colgroup>
            <colgroup width="97%"></colgroup>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Thời gian làm việc: 05 ngày / tuần, 08 giờ / ngày.
                    <br />
                    <i style="font-size: 10pt">Working time: 05 days/week, 08 hrs/day.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Được cấp phát vật dụng: Theo nhu cầu công việc
                    <br />
                    <i style="font-size: 10pt">Working equipments included: Under scope of work requirement.</i>
                </td>
            </tr>
        </table>
        <p style="font-size: 12pt; font-family: calibri; margin-bottom: 0; margin-top: 10px;">
            <b>ĐIỀU 03: NGHĨA VỤ VÀ QUYỀN LỢI CỦA NGƯỜI LAO ĐỘNG
                <br />
                <i>Article 3: Obligations, rights and benefits of the employee</i></b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri; text-align: left">
            <colgroup width="3%"></colgroup>
            <colgroup width="97%"></colgroup>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top"><b>a)</b></td>
                <td>
                    <b><u>Quyền lợi /
                            <i style="font-size: 10pt">Rights and benefits</i></u></b>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Phương tiện đi lại làm việc: Tự túc
                    <br>
                    <i style="font-size: 10pt">Means of transport for working: by self.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Mức lương chính:&emsp;<b>{{ latest_contract.basic_salary|floatformat:0|intcomma }}</b>/- VND/tháng
                    <br />
                    <i style="font-size: 10pt">Basic salary</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chế độ và phúc lợi khác/
                    <i style="font-size: 10pt">Other benefits:</i>
                    <table id="pdf-body" cellspacing="0" border="0"
                        style="font-size: 12pt; font-family: calibri; text-align: left">
                        <colgroup width="3%"></colgroup>
                        <colgroup width="27%"></colgroup>
                        <colgroup width="8%"></colgroup>
                        <colgroup width="5%"></colgroup>
                        <colgroup width="57%"></colgroup>
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Hỗ trợ tiền ăn trưa/ <i style="font-size: 10pt">Lunch:</i>
                            </td>
                            <td>{{ latest_contract.lunch_support|floatformat:0|intcomma }}/-</td>
                            <td>VNĐ/tháng</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Hỗ trợ đi lại/ <i style="font-size: 10pt">Transportation:</i>
                            </td>
                            <td>{{ latest_contract.transportation_support|floatformat:0|intcomma }}/-</td>
                            <td>VNĐ/tháng</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Hỗ trợ điện thoại/ <i style="font-size: 10pt">Telephone:</i>
                            </td>
                            <td>{{ latest_contract.telephone_support|floatformat:0|intcomma }}/-</td>
                            <td>VNĐ/tháng</td>
                        </tr>
                        {% if latest_contract.travel_support != NULL and latest_contract.travel_support != 0 %}
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Hỗ trợ du lịch/ <i style="font-size: 10pt">Travel support:</i>
                            </td>
                            <td>{{ latest_contract.travel_support|floatformat:0|intcomma }}/-</td>
                            <td>VNĐ/tháng</td>
                        </tr>
                        {% else %}

                        {% endif %}
                        {% if latest_contract.seniority_bonus != NULL and latest_contract.seniority_bonus != 0 %}
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Tiền thưởng thâm niên/ <i style="font-size: 10pt">Seniority bonus:</i>
                            </td>
                            <td>{{ latest_contract.seniority_bonus|floatformat:0|intcomma }}/-</td>
                            <td>VNĐ/tháng</td>
                        </tr>
                        {% else %}

                        {% endif %}
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Hình thức trả lương: Theo thời gian
                    <br />
                    <i style="font-size: 10pt">Method of payment: By timing</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Trả lương: Chuyển khoản vào ngày 5 của tháng sau
                    <br />
                    <i style="font-size: 10pt">To be paid: By transfer 5th of the following month</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Tiền thưởng: Theo qui định của công ty
                    <br />
                    <i style="font-size: 10pt">Bonus: As per company policy</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chế độ nâng lương: Theo qui định của công ty
                    <br />
                    <i style="font-size: 10pt">Regime for raising salary: As per company policy</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Trang bị bảo hộ lao động: Theo nhu cầu công việc
                    <br />
                    <i style="font-size: 10pt">Providing with protection equipments included: Under work need</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chế độ nghỉ ngơi nghỉ hằng tuần, phép năm, lễ tết
                    <i style="font-size: 10pt">(Leaves: weekly leave, annual leave, and public holidays)</i>
                    <table id="pdf-body" cellspacing="0" border="0"
                        style="font-size: 12pt; font-family: calibri; text-align: left">
                        <colgroup width="3%"></colgroup>
                        <colgroup width="97%"></colgroup>
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Phép năm <i style="font-size: 10pt">(Annual leave)</i> = 12
                                ngày / năm <i style="font-size: 10pt">(12 days/year)</i>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">-</td>
                            <td>
                                Lễ, Tết <i style="font-size: 10pt">(Public holidays)</i> :
                                Theo quy định của Luật lao Động
                                <i style="font-size: 10pt">/ Under Labor Law</i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Bảo hiểm Xã Hội, Y Tế, Thất Nghiệp: Theo quy
                    định của Luật Bảo hiểm
                    <br />
                    <i style="font-size: 10pt">Social insurance, health insurance and Unemployment Insurance:
                        According to Insurance Law
                    </i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chế độ đào tạo, bồi dưỡng, nâng cao trình độ, kỹ năng nghề: theo nhu
                    cầu của Công Ty
                    <br />
                    <i style="font-size: 10pt">Advanced training program of occupational skills: Under Company’s
                        need.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chính sách phúc lợi: Theo quy định của Công Ty
                    <br />
                    <i style="font-size: 10pt">Benefits policies: Under Company’s regulations.</i>
                </td>
            </tr>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top"><b>b)</b></td>
                <td>
                    <b><u>Nghĩa vụ / <i style="font-size: 10pt">Obligations</i></u></b>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Bảo hiểm Xã Hội, Y Tế, Thất Nghiệp: Theo quy định của Luật Bảo hiểm
                    <br />
                    <i style="font-size: 10pt">Social insurance, health insurance and Unemployment Insurance:
                        According to Insurance Law</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Thuế thu nhập: Người lao động đóng
                    <br />
                    <i style="font-size: 10pt">Income tax: Paid by employee</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Hoàn thành những công việc đã cam kết trong Hợp Đồng Lao Động
                    <br />
                    <i style="font-size: 10pt">To fulfill the works undertaken in labor contract</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Chấp hành nội quy kỷ luật lao động, an toàn lao động
                    <br />
                    <i style="font-size: 10pt">To comply with internal labor discipline and occupation safety
                        regulations.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&bull;</td>
                <td>
                    Bồi thường vi phạm và vật chất: Theo quy định của Luật Lao Động
                    <br />
                    <i style="font-size: 10pt">Compensation for violating labor discipline and material
                        liability: Under regulations of Labor Law.</i>
                </td>
            </tr>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top"><b>c)</b></td>
                <td>
                    <b><u>Thỏa thuận khác /
                            <i style="font-size: 10pt">Other agreements</i></u></b>
                </td>
            </tr>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top">A.</td>
                <td>
                    <b>Bảo mật /</b> <i style="font-size: 10pt">Confidentiality:</i>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Điều này được hiểu và đồng ý rằng cả hai bên muốn trao đổi thông tin
                    nhất định có thể được coi là bí mật. Để đảm bảo việc bảo vệ thông
                    tin đó và xem xét thỏa thuận để trao đổi thông tin, các bên đồng ý
                    như sau:
                    <br />
                    <i style="font-size: 10pt">It is understood and agreed to that both parties would like to
                        exchange certain information that may be considered confidential.
                        To ensure the protection of such information and in consideration
                        of the agreement to exchange said information, the parties agree
                        as follows:</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Định nghĩa “thông tin mật”: Là thông tin kinh doanh liên quan đến Công ty bao gồm chi phí, thông tin
                    lợi nhuận, tài chính và kế hoạch tài chính, khách hàng, tiếp thị hiện tại hoặc tương lai kế hoạch
                    bất kể, và thông tin đó được chỉ định là "thông tin mật" vào thời điểm công bố của nó.
                    <br />
                    <i style="font-size: 10pt">Definition of “confidential information”: Business information relating
                        to the Company, costs, profit and margin information, finances and financial projections,
                        customers, clients, marketing, and current or future business plans regardless of whether such
                        information is designated as “Confidential Information” at the time of its disclosure.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Bên B có trách nhiệm sử dụng các thông tin mật chỉ dành cho mục đích
                    phục vụ nhu cầu công việc cũng như lợi ích của công ty mà
                    không được phép dùng vào mục đích nào khác.
                    <br />
                    <i style="font-size: 10pt">The Confidential Information could be used only for job demands & the
                        interest of the company & not allowed to used for any other purposes under any
                        circumstances.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Bên B sẽ hạn chế tiết lộ thông tin mật trong tổ chức riêng của mình để giám đốc, cán bộ, đối tác,
                    các thành viên và / hoặc nhân viên có nhu cầu biết và không được tiết lộ thông tin mật cho bất kỳ
                    bên thứ ba (cho dù một cá nhân, công ty, hoặc tổ chức khác) mà không có sự đồng ý trước bằng văn bản
                    của cấp trên.
                    <br />
                    <i style="font-size: 10pt">Party B shall limit disclosure of Confidential Information within its own
                        organization to its directors, officers, partners, members and/or employees having a need to
                        know and shall not disclose Confidential Information to any third party (whether an individual,
                        corporation, or other entity) without the prior written consent of his superior.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Bên B có trách nhiệm đáp ứng nghĩa vụ của mình theo quy định của
                    khoản này nếu nó có khẳng định các biện pháp để đảm bảo tuân thủ các
                    nghĩa vụ bảo mật
                    <br />
                    <i style="font-size: 10pt">Party B shall have satisfied its obligations under this term if
                        it takes affirmative measures to ensure compliance with these
                        confidentiality obligations.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Điều khoản bảo mật này có hiệu lực trong thời gian hợp đồng còn hiệu
                    lực và ngay cả khi hợp đồng hết hạn.
                    <br />
                    <i style="font-size: 10pt">This term of confidentiality is valid during the contract and
                        even after the contract expired.</i>
                </td>
            </tr>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top">B.</td>
                <td>
                    <b>Quy tắc tuân thủ/</b> <i style="font-size: 10pt">Compliance:</i>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Theo bản Nội Quy của Văn Phòng và những Quy Tắc về Đạo Đức và Ứng Xử
                    đối với cá thể, tài sản của Công Ty và trên công việc.
                    <br />
                    <i>Follow the Company Regulations book and the Code of Ethics &
                        Conduct in respect of Physics, Company assets and Business.</i>
                </td>
            </tr>
        </table>
        <p style="font-size: 12pt; font-family: calibri; margin-bottom: 0; margin-top: 10px;">
            <b>ĐIỀU 04: NGHĨA VỤ VÀ QUYỀN LỢI CỦA NGƯỜI SỬ DỤNG LAO ĐỘNG
                <br />
                <i>Article 4: Obligations and rights of employer</i></b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri; text-align: left">
            <colgroup width="3%"></colgroup>
            <colgroup width="97%"></colgroup>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top"><b>a)</b></td>
                <td>
                    <b><u>Nghĩa vụ / <i style="font-size: 10pt">Obligations</i></u></b>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Bảo đảm việc làm và thực hiện đầy đủ những điều đã cam kết trong Hợp
                    Đồng Lao Động
                    <br />
                    <i style="font-size: 10pt">To ensure the employment and fully implement committed
                        regulations in labor contract</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Thanh toán đầy đủ, đúng thời hạn các chế độ và quyền lợi cho người
                    lao động theo hợp đồng lao động, thỏa ước lao động tập thể (nếu có).
                    <br />
                    <i style="font-size: 10pt">To pay fully and on time remuneration and other fringe benefits
                        of employee in accordance with labor contract, collective labor
                        agreements (if any).</i>
                </td>
            </tr>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top"><b>b)</b></td>
                <td>
                    <b><u>Quyền hạn / <i style="font-size: 10pt">Rights</i></u></b>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Điều hành người lao động hoàn thành công việc theo hợp đồng (bố trí,
                    điều chuyển, tạm ngừng việc…)
                    <br />
                    <i style="font-size: 10pt">To manage the employee to fulfill the works in accordance with
                        labor contract (assign, appoint, postpone…)</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Tạm hoãn, chấm dứt hợp đồng lao động, kỷ luật người lao động theo
                    luật lao động hiện hành.
                    <br />
                    <i style="font-size: 10pt">To postpone, terminate the labor contract, penalty the employee
                        in accordance with the labor law.</i>
                </td>
            </tr>
        </table>
        <p style="font-size: 12pt; font-family: calibri; margin-bottom: 0; margin-top: 10px;">
            <b>ĐIỀU 05: THỎA THUẬN CHUNG
                <br />
                <i>Article 5: General conditions</i></b>
        </p>
        <table id="pdf-body" cellspacing="0" border="0" style="font-size: 12pt; font-family: calibri; text-align: left">
            <colgroup width="3%"></colgroup>
            <colgroup width="97%"></colgroup>
            <tr height="5"></tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Những vấn đề lao động không thể hiện trong Hợp Đồng này thì áp dụng
                    quy định của thỏa ước tập thể, trường hợp chưa có thỏa ước tập thể
                    thì áp dụng quy định của luật lao động
                    <br />
                    <i style="font-size: 10pt">The problems concerning with labor is not defined in this labor
                        contract shall be applied with provisions of collective labor
                        agreement. In case of not having collective labor agreement shall
                        be applied with regulations of labor legislation.</i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Hợp Đồng lao Động được lập thành 02 bản có giá trị ngang nhau, mỗi
                    bên giữ 01 bản và có hiệu lực từ ngày {{from_date_day}} tháng {{from_date_month}} năm
                    {{from_date_year}}.
                    <br />
                    <i style="font-size: 10pt">Labor contract is made in two (02) copies of equal validity; each
                        party keeps one copy and comes into force on {{from_date_day}} {{from_date_month_name}}
                        {{from_date_year}}.
                    </i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Khi hai bên ký kết Phụ Lục Hợp Đồng Lao Động thì nội dung của Phụ
                    Lục Hợp Đồng Lao Động cũng có gía trị như các nội dung của bản Hợp
                    Đồng Lao Động này.
                    <br />
                    <i style="font-size: 10pt">When both parties sign appendix of labor contract, the content of
                        appendix shall be valued as the contents of this labor contract.
                    </i>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top">&#10070;</td>
                <td>
                    Hợp Đồng này làm tại TP. HCM, ngày {{signed_contract_date_day}} tháng {{signed_contract_date_month}}
                    năm {{signed_contract_date_year}}.
                    <br />
                    <i style="font-size: 10pt">This labor contract is made at Ho Chi Minh city on
                        {{signed_contract_date_day}} {{signed_contract_date_month_name}} {{signed_contract_date_year}}.
                    </i>
                </td>
            </tr>
        </table>
        <table id="pdf-body" cellspacing="0" border="0"
            style="font-size: 12pt; font-family: calibri; text-align: center">
            <colgroup width="50%"></colgroup>
            <colgroup width="50%"></colgroup>
            <tr height="40"></tr>
            <tr>
                <td><b>Người lao động</b>
                    <br>
                    <i>Employee</i>
                </td>
                <td><b>Người sử dụng lao động</b>
                    <br>
                    <i>Employer</i>
                </td>
            </tr>
            <tr height="100"></tr>
            <tr>
                <td style="vertical-align: top"><b>{{latest_contract.employee.full_name}}</b></td>
                <td><b>NGUYỄN MINH SƠN</b>
                    <br>
                    Tổng Giám Đốc / General Director
                </td>
            </tr>
            <tr height="65"></tr>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</body>

</html>